server:
  port: 8001

spring:
  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 200MB

  mvc:
    throw-exception-if-no-handler-found: true

  # 缓存配置
  redis:
    host: localhost
    port: 6379
  cache:
    type: redis

  data:
    redis:
      repositories:
        enabled: false

mybatis-plus:
  #指明mapper.xml扫描位置(classpath* 代表编译后类文件根目录)
  mapper-locations: classpath*:/mapper/**/*Mapper.xml
  # 全局通用枚举扫描路径
  # typeEnumsPackage: com.zeusnet.struct.entity.enums
  #指明实体扫描(多个package用逗号或者分号分隔)
  typeAliasesPackage: com.example.security.entity;
  global-config:
    #主键类型 0:数据库ID自增, 1:用户输入ID,2:全局唯一ID (数字类型唯一ID), 3:全局唯一ID UUID
    id-type: 0
    #字段策略(拼接sql时用于判断属性值是否拼接) 0:忽略判断,1:非NULL判断,2:非空判断
    field-strategy: 2
    #驼峰下划线转换含查询column及返回column(column下划线命名create_time，返回java实体是驼峰命名createTime，开启后自动转换否则保留原样)
    db-column-underline: true
    #是否动态刷新mapper
    refresh-mapper: false
    #数据库大写命名下划线转换
    #capital-mode: true

jwt:
  config:
    key: xkcoding
    ttl: 600000
    remember: 604800000
custom:
  config:
    ignores:
      # 需要过滤的 post 请求
      post:
        - "/auth/login"
        - "/auth/logout"
      get:
      # 需要过滤的请求，不限方法
      pattern:
        - "/test"